*:before,
*,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}

header,
section {
  margin-top: 50px;
  text-align: center;
}

header h2 {
  margin: 20px 0 10px;
}

footer {
  margin-top: 50px;
  padding: 15px;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}

div.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

form#url-form {
  display: flex;
}

form#url-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: rgb(241, 241, 241);
  height: 40px;
}

button {
  appearance: none;
  border: none;
  padding: 10px;
  background: lightgrey;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;

  transition: background 0.2s;
}

button[disabled] {
  background: white;
}

form#url-form > button {
  margin-left: 10px;
  flex-basis: 40px;
  background: #aadba0;
}

form#url-form button:hover,
form#url-form button:focus {
  background: #74c186;
}

@media only screen and (max-width: 450px) {
  form#url-form {
    flex-direction: column;
  }

  form#url-form > button {
    margin-left: 0;
    margin-top: 10px;
  }
}

div#url-error {
  display: none;
  margin-top: 10px;
  background: pink;
  border-radius: 3px;
  padding: 10px;
}

div#url-error.active {
  display: block;
}

div#result {
  display: none;
  margin-top: 10px;
  background: aliceblue;
  border-radius: 3px;
  padding: 10px;
  text-align: left;
}

div#result.active {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div#result div#color-block {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0px 15px 0px 10px;
  border: 6px solid lightgrey;
}

div#result a {
  text-decoration: none;
}

button#copy-button {
  flex-basis: 50px;
}

span#shortlink {
  font-size: 1.5rem;
}

div#result div.links {
  flex-grow: 1;
}

div#result div.links p:nth-child(1) {
  margin-bottom: 10px;
}

input#copy-link {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -12;
}
